/* Estilos para el diálogo de eliminación */
mat-dialog-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #FF6F61;
    text-align: center;
    padding: 15px 0;
}

mat-dialog-content {
    font-size: 1.2em;
    color: #333;
    padding: 20px;
    text-align: center;
}

mat-dialog-actions {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

button[mat-button] {
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
}

button[mat-button]:hover {
    opacity: 0.8;
}

button[color="warn"] {
    background-color: #FF6F61;
    color: white;
}

button[color="warn"]:hover {
    background-color: #E65C50;
}
